In [66]:
import pandas as pd
from datetime import datetime

In [21]:
classes = pd.DataFrame()
'''site = 'https://ischool.syr.edu/classes/?page=1'
Data = Data.append(pd.read_html(site))
site = 'https://ischool.syr.edu/classes/?page=2'
Data = Data.append(pd.read_html(site))
'''
for n in range(0,7):
    site = 'https://ischool.syr.edu/classes/?page=' + str(n)
    Data = pd.read_html(site)
    classes = classes.append(Data[0])

In [22]:
classes.tail()

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s)
45,IST800,M001,37515,3.0,Design Meth. for Info Studies,Rachel Ivy Clarke,9:30am - 12:15pm,W,Hinds Hall 120
46,IST810,M001,37389,2.0,Practicum in Research,Steven B Sawyer,9:30am - 11:25am,Tu,Hinds Hall 120
47,IST810,M002,37509,2.0,Practicum in Research,Steven B Sawyer,9:30am - 11:25am,Tu,Hinds Hall 120
48,IST820,M001,41535,3.0,Seminar in Research Methods,Jeffrey M. Stanton,9:30am - 12:15pm,M,Hinds Hall 120
49,IST840,M001,37391,1.0,Practicum in Teaching,Steven B Sawyer,11:30am - 12:15pm,Tu,Hinds Hall 120

In [23]:
classes.shape

(312, 9)

In [30]:
test = classes

In [31]:
test['Course'].head()

0    IST840
1    IST971
2    IST971
3    IST971
4    IST972
Name: Course, dtype: object

In [42]:
test['Course'].str[3:]
#new column 
test['Course number'] = test['Course'].str[3:]
test.head()

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s),Course number
0,IST840,M002,37508,1.0,Practicum in Teaching,Steven B Sawyer,11:30am - 12:15pm,Tu,Hinds Hall 120,840
1,IST971,M400,42678,1.0,Internship in Info Studies,Susan Monica Bonzi,12:00am - 12:00am,NaN,Online,971
2,IST971,M401,42680,1.0,Internship in Info Studies,Susan Monica Bonzi,12:00am - 12:00am,NaN,Online,971
3,IST971,M402,42770,1.0,Internship in Info Studies,Susan Monica Bonzi,12:00am - 12:00am,NaN,NaN,971
4,IST972,M001,37396,3.0,School Media Practicum,Patricia C Vilello,12:00am - 12:00am,NaN,Online,972

In [45]:
# course number > = 500 will be grad and rest Undergrad
test['Type'] = 'NAN'
test['Type'][test['Course number'] >= 500] = 'G'

TypeError: '>=' not supported between instances of 'str' and 'int'

In [46]:
test['Type'][test['Course number'].astype(int) >= 500] = 'G'

/Users/mahbn/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [57]:
#to avoid settingwith copy use loc method 
# link for understanding SettingWithCopy ----> https://www.dataquest.io/blog/settingwithcopywarning/
test.loc[test['Course number'].astype(int) >= 500 , 'Type'] = 'Grad'
test.loc[test['Course number'].astype(int) < 500 , 'Type'] = 'UnderGrad'

In [58]:
test.sample(4)

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s),Course number,Type
16,IST195,M003,37443,3.0,LAB: Information Technologies,Jeff Rubin,9:30am - 10:25am,F,Hinds Hall 010,195,UnderGrad
11,IST659,M410,37650,3.0,Data Admin Concepts & Db Mgmt,Dale Thompson,12:00am - 8:30pm,Tu,Online Online,659,Grad
49,IST336,M001,41506,3.0,Leading Issues in Info Securit,Joon S. Park,3:45pm - 5:05pm,MW,Hinds Hall 117,336,UnderGrad
33,IST645,M001,37406,3.0,Managing Info Systems Projects,Arthur P. Thomas,5:00pm - 7:50pm,Tu,Hinds Hall 021,645,Grad

In [65]:
# filter only grad courses that are on tuesday 
grad =  test[test['Type']=='Grad']
grad_tue = grad[grad['Day'].str.find("Tu") >= 0]
grad_tue.head()

,Course,Section,Class,Credits,Title,Instructor(s),Time,Day,Room(s),Course number,Type
0,IST840,M002,37508,1.0,Practicum in Teaching,Steven B Sawyer,11:30am - 12:15pm,Tu,Hinds Hall 120,840,Grad
3,GET602,M001,37464,3.0,Global Financial Sys Arch,vcschoon,5:00pm - 7:45pm,Tu,Hinds Hall 011,602,Grad
7,IST511,M401,37527,3.0,Intro to Library & Info Prof,Meghan Bremiller,12:00am - 8:30pm,Tu,Online Online,511,Grad
10,IST511,M403,37584,3.0,Intro to Library & Info Prof,Meghan Bremiller,12:00am - 8:30pm,Tu,Online Online,511,Grad
14,IST523,M002,37474,3.0,Graphic Design for the Web,Jeffrey Alan Passetti,5:00pm - 7:50pm,Tu,Hinds Hall 117,523,Grad

In [71]:
# tim e to read these web pages 
classes = pd.DataFrame()

start = datetime.now()

for n in range(0,7):
    site = 'https://ischool.syr.edu/classes/?page=' + str(n)
    Data = pd.read_html(site)
    classes = classes.append(Data[0])
print(datetime.now() - start )

0:00:20.377858

In [68]:
# now multiprocessing
from multiprocessing import Pool
from multiprocessing.dummy import Pool as ThreadPool

In [75]:
pool = ThreadPool()
site= []
start = datetime.now()

for n in range(0,7):
    site.append('https://ischool.syr.edu/classes/?page=' + str(n))
Data = pool.map(pd.read_html,site)
pool.close()
pool.join()
print(datetime.now() - start )

0:00:04.120881